body{
    margin:0;
    padding:0;
  }

  .all {
    border: 10px solid black;
  }

  .alignimage{
    float: right;
    clear: both;
    width:30%;
  }
  .down{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }
  img{
    width:88%;
    max-width:400px;
    height:auto;
    float:right;
  }
  .aligninfo{
      display:inline-block;
      margin-top: 5%;
      margin-left: 4%;
  }
  .hl{
    float:left;
    padding:30px;
  }
  .circle-icon{
    background:#dddddd;
    padding:20px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
  
  #icons{
    text-align: center;
    display: inline-block;
  }
  .center{
      background: rgba(25, 25, 112, 0.2);
      display: inline-block;
      text-align: center;
      width:100%;
  }
  
  .hidden {
      display: none;
  }
  
  .bottom{
    position:relative;
    bottom:0px;
  }
  