<div class="all">
    <!-- All content unique to a page will be inside here-->
    <div class="aligninfo">

        <h1> Dr. Mydhili K. Nair</h1>
        <h3>Ph.D. degree holding Professor in IS&E department of MSRIT</h3>
      </div>
  
      <div class="alignimage mt-3">
        <!-- Name, One line Description and Image-->
        <img src="https://image.ibb.co/engMMk/fac95.jpg" alt="">
        <!-- Will later be replaced by a bigger or better image-->
      </div>
  
      <div class="down">
        <i class="fas fa-caret-down fa-3x circle-icon" (click)=show()></i>
        <br>
      </div>
      <div class="center hidden">
        <span id="icons">
          <!-- Hyperlinks to quick search-->
          <a routerLink="/search/Papers">
          <div class="hl">
            <i class="far fa-copy fa-3x circle-icon"></i>
            <br>
            Papers
          </div>
          </a>
          <a routerLink="/search/Conferences">
          <div class="hl">
            <i class="fas fa-microphone-alt fa-3x  circle-icon"></i>
            <br>
            Conferences
          </div>
          </a>
          <a routerLink="/search/Lectures">
          <div class="hl">
            <i class="fas fa-chalkboard-teacher fa-3x circle-icon"></i>
            <br>
            Lectures
          </div>
          </a>
          <a routerLink="/search/Projects">
          <div class="hl">
            <i class="fas fa-lightbulb fa-3x circle-icon"></i>
            <br>
            Projects
          </div>
          </a>
          <br>
          <a routerLink="/search/Courses">
          <div class="hl">
            <i class="fas fa-book fa-3x circle-icon"></i>
            <br>
            Courses
          </div>
          </a>
          <a routerLink="/search/Awards">
          <div class="hl">
            <i class="fas fa-medal fa-3x circle-icon"></i>
            <br>
            Awards
          </div>
          </a>
          <a routerLink="/search/ClassActivities">
          <div class="hl">
            <i class="fas fa-person-booth fa-3x circle-icon"></i>
            <br>
            Class Activies
          </div>
          </a>
          <a routerLink="/search/Mentorships">
          <div class="hl">
            <i class="fas fa-user-graduate fa-3x circle-icon"></i>
            <br>
            Mentorships
          </div>
          </a>
        </span>
      </div>
  
  
    </div>