<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <script src="https://kit.fontawesome.com/a9175caa3b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <title>Dr. Mydhili K. Nair</title>
</head>

<body>
  <nav>

    <!-- Common Navbar for all pages-->
    <a href="#">Home</a>
    <a href="/about">About</a>
    <a href="/publications">Publications</a>
    <a href="/contact">Contact</a>


  </nav>


  <section>
    <!-- All content unique to a page will be inside here-->
    <div class="aligninfo">

      <h1> Dr. Mydhili K. Nair</h1>
      <h3>Ph.D. degree holding Professor in IS&E department of MSRIT</h3>
    </div>

    <div class="alignimage">
      <!-- Name, One line Description and Image-->
      <img src="https://image.ibb.co/engMMk/fac95.jpg" alt="">
      <!-- Will later be replaced by a bigger or better image-->
    </div>

    <div class="down">
      <i class="fas fa-caret-down circle-icon"></i>
      <br>
    </div>
    <div class="center">
      <span id="icons">
        <!-- Hyperlinks to quick search-->
        <div class="hl">
          <i class="far fa-copy circle-icon"></i>
          <br>
          Papers
        </div>
        <div class="hl">
          <i class="fas fa-microphone-alt circle-icon"></i>
          <br>
          Conferences
        </div>
        <div class="hl">
          <i class="fas fa-chalkboard-teacher circle-icon"></i>
          <br>
          Lectures
        </div>
        <div class="hl">
          <i class="fas fa-lightbulb circle-icon"></i>
          <br>
          Projects
        </div>
        <div class="hl">
          <i class="fas fa-book circle-icon"></i>
          <br>
          Courses
        </div>
        <div class="hl">
          <i class="fas fa-medal circle-icon"></i>
          <br>
          Awards
        </div>
        <div class="hl">
          <i class="fas fa-person-booth circle-icon"></i>
          <!-- Didn't know which icon to put here-->
          <br>
          Class Activies
        </div>
        <div class="hl">
          <i class="fas fa-user-graduate circle-icon"></i>
          <br>
          Mentorship
        </div>
      </span>
    </div>



  </section>
  <hr>


  <div class="bottom">
    <footer>
      &#9400; 2019 by Mydhili
    </footer>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/client.js"></script>
</body>

</html>
