<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <script src="https://kit.fontawesome.com/a9175caa3b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Dr. Mydhili K. Nair</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/publications">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

  <section>
    <!-- All content unique to a page will be inside here-->
    <div class="aligninfo">

      <h1> Dr. Mydhili K. Nair</h1>
      <h3>Ph.D. degree holding Professor in IS&E department of MSRIT</h3>
    </div>

    <div class="alignimage mt-3">
      <!-- Name, One line Description and Image-->
      <img src="https://image.ibb.co/engMMk/fac95.jpg" alt="">
      <!-- Will later be replaced by a bigger or better image-->
    </div>

    <div class="down">
      <i class="fas fa-caret-down circle-icon"></i>
      <br>
    </div>
    <div class="center">
      <span id="icons">
        <!-- Hyperlinks to quick search-->
        <div class="hl">
          <i class="far fa-copy circle-icon"></i>
          <br>
          Papers
        </div>
        <div class="hl">
          <i class="fas fa-microphone-alt circle-icon"></i>
          <br>
          Conferences
        </div>
        <div class="hl">
          <i class="fas fa-chalkboard-teacher circle-icon"></i>
          <br>
          Lectures
        </div>
        <div class="hl">
          <i class="fas fa-lightbulb circle-icon"></i>
          <br>
          Projects
        </div>
        <div class="hl">
          <i class="fas fa-book circle-icon"></i>
          <br>
          Courses
        </div>
        <div class="hl">
          <i class="fas fa-medal circle-icon"></i>
          <br>
          Awards
        </div>
        <div class="hl">
          <i class="fas fa-person-booth circle-icon"></i>
          <!-- Didn't know which icon to put here-->
          <br>
          Class Activies
        </div>
        <div class="hl">
          <i class="fas fa-user-graduate circle-icon"></i>
          <br>
          Mentorship
        </div>
      </span>
    </div>



  </section>
  <hr>


  <div class="bottom">
    <footer>
      &#9400; 2019 by Mydhili
    </footer>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="js/client.js"></script>
</body>

</html>
