<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/a9175caa3b.js" crossorigin="anonymous"></script>
    <title>Dr. Mydhili K. Nair</title>
  </head>
  <body>
    <nav>
      <!-- Common Navbar for all pages-->
      <a href="#">Home</a>
      <a href="/about">About</a>
      <a href="/publications">Publications</a>
      <a href="/contact">Contact</a>
    </nav>
    <section>
      <!-- All content unique to a page will be inside here-->
      <div class="">
        <!-- Name, One line Description and Image-->
        <h1>Dr. Mydhili K. Nair</h1>
        <h3>Ph.D. degree holding Professor in IS&E department of MSRIT</h3>


        <img src="/passport.jpg" alt="">
        <!-- Will later be replaced by a bigger or better image-->
      </div>
      <hr>
      <div class="">
        <!-- Hyperlinks to quick search-->
        <div class="">
          <i class="far fa-copy"></i>
          <br>
          Papers
        </div>
      </div>
      <div class="">
        <i class="fas fa-microphone-alt"></i>
        <br>
        Conferences
      </div>
      <div class="">
        <i class="fas fa-chalkboard-teacher"></i>
        <br>
        Lectures
      </div>
      <div class="">
        <i class="fas fa-lightbulb"></i>
        <br>
        Projects
      </div>
      <div class="">
        <i class="fas fa-book"></i>
        <br>
        Courses
      </div>
      <div class="">
        <i class="fas fa-medal"></i>
        <br>
        Awards
      </div>
      <div class="">
        <i class="fas fa-person-booth"></i>
        <!-- Didn't know which icon to put here-->
        <br>
        Class Activies
      </div>
      <div class="">
        <i class="fas fa-user-graduate"></i>
        <br>
        Mentorship
      </div>
    </section>
    <hr>
    <footer>
      &#9400; 2019 by Mydhili
    </footer>
  </body>
</html>
