<!Doctype html>
<html>
<head>
  <title>login</title>
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body>
<div id="container">
<form action="/login" method="POST">
  <br>
  <img src="https://png.pngtree.com/svg/20161229/_username_login_1172579.png"><br><br>
<label>USERNAME:<br>
  <input type="email" name="username" placeholder="Username"></label><br>
<label>PASSWORD:<br>
  <input type="password" name="password" placeholder="Password"></label><br><br>
  <button><strong>SUBMIT</strong></button>
</form>
<div>

</body>
</html>
