body{
  margin:0;
  padding:0;
  background-color:#CAFAFE;

}

nav{
  width:100%;
  overflow:auto;
  margin:0 auto;
}
nav a{
  float:left;
  padding-top: 12px;
  padding-bottom:12px;
  margin-top: 12px;
  margin-bottom: 12px;
  width:25%;
  text-align: center;
  background:#dddddd;
}
img{
  width:55%;
  max-width:280px;
  height:auto;

}
.in img{
  float:right;
  text-align: center;
}
@keyframes slide{
  100%{left:0;}
}


.center{
  text-align:center;
}
.in{
  display: inline-block;
}
.circle-icon{
  background:#dddddd;
  padding:20px;
  border-radius: 50%;
}
.hl{
  float:left;
  padding:30px;

}
.bottom{
  position:fixed;
  bottom:0px;

}
